// font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$Inter: 'Inter', sans-serif;

// colors
$bgDark: #212529;
// $bgGrey: #C5C5C5;
$bgGrey: #d9d9d9;
$accent: #6741D9;
$error: #FF7171;